.container {

  width: 550px !important;
  margin-top: 10% !important;
}
#login_container{
  width: 550px !important;
  margin-top: 10% !important;
    background-color: #ffffffa8;
}

.container1 {
    width: 550px !important;
    margin-top: 1% !important;
}
.navbar-inverse {
    background-color: #644bef !important;
    border-color: #ffffff !important;
}

nav.navbar.navbar-inverse {
  background-color: #644bef !important;
  border-color: #ffffff !important;
}
.navbar-inverse .navbar-nav>.active>a {
    color: #fff !important;
    background-color: #5046e2 !important;
}

.navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: black !important;
}
#homepage_container{
  width: 900px !important;
  margin-top: 30px !important;
}
#register_container{
  width: 700px !important;
  margin-top: 40px !important;
}
#profile_container{
  width: 900px !important;
  margin-top: 30px !important;

}
#addCr_container{
  width: 600px !important;
  margin-top: 10px !important;
}

#cr_container{
  width:1000px !important;
  margin-top: 30px !important;

}
#editAdmin_container{
  width: 750px !important;
  margin-top: 10px !important;
      border: 15px solid #644bef !important;
}
#edit_profile_container{
  width: 470px !important;
  margin-top: 30px !important;
}
 #login_body{
    background-image: url("bg.jpg");
    background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
#profileB{

}
#Mypic{
    background-color: #644bef !important;
}
.jumbotron {
    margin-bottom: 0px !important;
}
.col-lg-3 {
    background-color: #644bef !important;
}


div#edit_profile_container {
    border: 15px solid #644bef;
    margin-top: 1px !important;
}
div#register_container{
  border: 15px solid #644bef;
}
.panel-body {
    background-color: #644bef !important;
}
.font-weight-bold {
    font-weight: 700!important;
    color: white;
}
.error {
    color: red;
}
@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, #000, #fff);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}
